.ian_one{
    background-color: #bcb7be;
    height: 10vh;
    display: flex;
}
.ian_two{
    background-color: #ffed0a;
    height: 5vh;
    display: flex;
}
button{
    background-color: #ffef17;
    display: flex;
}
.aa{
    padding-left: 60vh;
}
.z{
    background-color: #ff261e;
    font-size: 20px;
}
.ian_three{
    background-color: #fffddf;
    min-height:10vh;

}
.ian_four{
    background-color: #fdff1d;
    display: flex;
    padding-left: 20vh;
    padding-right: 20vh;
}
.r{
    background-color: #b1ffde;
}
t{
  background-color: #fffebe;
}
.ian_six{
    background-color: #fffc2e;
}
.ian_six{
    background-color: #fff25c;
    height: 10vh;
}
.qq{
    padding-left: 20vh;
    padding-right: 30vh;
}
.mega{
    text-align: center;
}
.new{
    padding-left:300px;
}
.h2{
    padding: auto;
}